.inspector {
  position: absolute;
  height: 100%;
  display: flex;
  font-family: monospace;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.05);
}
.inspector:target {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}
.inspector > a {
  padding: 0 3px;
  text-decoration: none;
  color: #969696;
  background-color: #fff;
  transition: 100ms;
  font-size: 12px;
}
.inspector > .open {
  background-color: rgba(255, 255, 255, 0.4);
}
.inspector > a:hover,
.inspector > a:focus {
  background-color: #FFFFFF;
  color: #393939;
}
.inspector:target > a.open {
  display: none;
  vertical-align: middle;
}
.inspector:not(:target) > a.close {
  display: none;
}
.inspector:not(:target) > .content {
  display: none;
}
.inspector > .content {
  background-color: #fff;
  display: flex;
  flex-direction: column;
}
.inspector > .content .breadcrumbContainer,
.inspector > .content .object3DListContainer,
.inspector > .content .propertiesContainer {
  display: flex;
  flex-direction: column;
}
.inspector > .content .breadcrumbContainer .breadcrumb,
.inspector > .content .object3DListContainer .breadcrumb,
.inspector > .content .propertiesContainer .breadcrumb,
.inspector > .content .breadcrumbContainer .object3DList,
.inspector > .content .object3DListContainer .object3DList,
.inspector > .content .propertiesContainer .object3DList,
.inspector > .content .breadcrumbContainer .properties,
.inspector > .content .object3DListContainer .properties,
.inspector > .content .propertiesContainer .properties {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.inspector > .content .breadcrumbContainer .breadcrumb > span,
.inspector > .content .object3DListContainer .breadcrumb > span,
.inspector > .content .propertiesContainer .breadcrumb > span,
.inspector > .content .breadcrumbContainer .object3DList > span,
.inspector > .content .object3DListContainer .object3DList > span,
.inspector > .content .propertiesContainer .object3DList > span,
.inspector > .content .breadcrumbContainer .properties > span,
.inspector > .content .object3DListContainer .properties > span,
.inspector > .content .propertiesContainer .properties > span {
  color: #BDBDBD;
  background-color: #EEEEEE;
  display: block;
  padding: 0.5em 1em;
}
.inspector > .content .breadcrumbContainer .breadcrumb .item {
  padding: 0.5em 1em;
}
.inspector > .content .breadcrumbContainer .breadcrumb > .item .item {
  margin-left: 0.5em;
}
.inspector > .content .breadcrumbContainer .breadcrumb > .item .item:before {
  content: "➞ ";
}
.inspector > .content .object3DListContainer {
  flex: 1;
}
.inspector > .content .object3DListContainer .object3DList {
  flex: 1;
}
.inspector > .content .object3DListContainer .object3DList > ul {
  background-color: rgba(0, 0, 0, 0.05);
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  flex: 1;
}
.inspector > .content .object3DListContainer .object3DList > ul:empty {
  display: none;
}
.inspector > .content .object3DListContainer .object3DList > ul li {
  background-color: #F2F2F2;
}
.inspector > .content .object3DListContainer .object3DList > ul li:nth-child(even) {
  background-color: #EEEEEE;
}
.inspector > .content .object3DListContainer .object3DList > ul li > header {
  display: flex;
  align-items: center;
}
.inspector > .content .object3DListContainer .object3DList > ul li > header > * {
  padding: 0.5em 1em;
}
.inspector > .content .object3DListContainer .object3DList > ul li > header > .visible:hover {
  cursor: pointer;
}
.inspector > .content .object3DListContainer .object3DList > ul li > header > .visible > input {
  display: none;
}
.inspector > .content .object3DListContainer .object3DList > ul li > header > .visible > input:checked + span:before {
  color: black;
  content: "✔";
}
.inspector > .content .object3DListContainer .object3DList > ul li > header > .visible > input:not(:checked) + span:before {
  color: #B4B4B4;
  content: "✗";
}
.inspector > .content .object3DListContainer .object3DList > ul li > header > a {
  text-decoration: none;
  display: block;
  flex: 1;
}
.inspector > .content .object3DListContainer .object3DList > ul li > header > a .name {
  color: #2B2B2B;
}
.inspector > .content .object3DListContainer .object3DList > ul li > header > a .type {
  font-size: x-small;
  color: #B7B7B7;
  display: block;
}
.inspector > .content .object3DListContainer .object3DList > ul li > header > a:hover .name,
.inspector > .content .object3DListContainer .object3DList > ul li > header > a:focus .name {
  color: black;
  text-decoration: underline;
}
.inspector > .content .propertiesContainer {
  flex: 2;
}
.inspector > .content .propertiesContainer .properties {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.inspector > .content .propertiesContainer .properties .filter {
  display: block;
  padding: 0.5em 1em;
}
.inspector > .content .propertiesContainer .properties .filter input {
  display: block;
  border: none;
  font-family: inherit;
  width: 100%;
  outline: none;
}
.inspector > .content .propertiesContainer .properties > ul {
  flex: 1;
  margin: 0;
  padding: 0;
  overflow-y: scroll;
  background-color: rgba(0, 0, 0, 0.05);
  list-style: none;
}
.inspector > .content .propertiesContainer .properties > ul li {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  padding: 0 0.5em;
}
.inspector > .content .propertiesContainer .properties > ul li:nth-child(even) {
  background-color: #EEEEEE;
}
.inspector > .content .propertiesContainer .properties > ul li > header {
  flex: 1;
  display: flex;
  padding: 0.5em;
  justify-content: space-between;
  align-items: center;
}
.inspector > .content .propertiesContainer .properties > ul li > header > * {
  display: block;
}
.inspector > .content .propertiesContainer .properties > ul li > header .console-log {
  text-decoration: none;
  color: #909090;
  margin-right: 0.5em;
}
.inspector > .content .propertiesContainer .properties > ul li > header .console-log:hover {
  color: black;
}
.inspector > .content .propertiesContainer .properties > ul li > header .name {
  flex: 1;
}
.inspector > .content .propertiesContainer .properties > ul li > header .type {
  font-size: x-small;
  color: #C2C2C2;
  margin-left: 0.5em;
}
.inspector > .content .propertiesContainer .properties > ul li > header label.color,
.inspector > .content .propertiesContainer .properties > ul li > header label.boolean {
  flex: 1;
  text-align: right;
}
.inspector > .content .propertiesContainer .properties > ul li > header label.color input[type="color"],
.inspector > .content .propertiesContainer .properties > ul li > header label.boolean input[type="color"] {
  min-width: 1em;
}
/*# sourceMappingURL=inspector.css.map */