@import './inventory.scss';
@import './item.scss';

@font-face {
	font-family: "Curse Casual";
	src: url("../font/curse-casual.ttf");
}

html, body {
	background-color: black;
	margin: 0;
	padding: 0;
	overflow: hidden;
	
	font-family: "Curse Casual", sans-serif;
}

main {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: linear-gradient(#5DBDE5, #86DAFD);
}

main canvas, main .ui {
	position: absolute;
	width: 100%;
	height: 100%;
}

main .ui {
	z-index: 20;
}

main canvas {
	z-index: 10;
}


.dg.ac {
	z-index: 30 !important;
}